body{
    background-color: rgb(100, 218, 31);
}
.contenant{
    text-align: center;
    h1{
        color: beige;
    }
}
.logo{
    img{
        display: block;
        margin: auto;
    
    }
}
.menu{
padding: 5px;
//centrer div
margin: 0 auto;
width: 70%;

}