body{background-color: #b14562 !important;}

page{
	background:green;
}
img{
	
}
.logo{
	width:60%;
	margin:0px;
}
.club {
	width:100%;
	margin:0px;
}
div ul .col-md-4.nopadding-nomargin{
background-color:blue}
 h3.monh3{
font-size: 18px;	 
text-align:center;	
}
div.col-md-4.nopadding-nomargin{
	margin:0px;
	padding:2px;
	border:2px red;
	
}
#content-wrapper {
	clear: both;
	margin: 0 30.4% 0 0;

}
#content {
	background: #ffebf2;
	border-top-width: 0;
	max-width: 1100px;/**/
}
#content,
#main .widget-area {
	border: 5px solid #fff;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 1em;
}
#main .widget-area {
	background: #ffd8e8;
	padding-top: 2em;
}
#colophon {
	clear: both;
	display: block;
	width: 100%;
}
/* =Menu and Search Area
-------------------------------------------------------------- */

#access {
	background: #b14562;
	box-shadow: 5px -5px 5px -5px rgba(0, 0, 0, 0.5);
	display: block;
	float: left;
	margin: 0 auto;
	width: 100%;
}
.menu {
	margin-left: 1em;
}
#access ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
#access li {
	float: left;
	position: relative;
}
#access a {
	color: #fff4f9;
	display: block;
	font-size: 13px;
	line-height: 2em;
	padding: 0.5em 1em;
	text-decoration: none;
}
#access a:hover {
	background: #90364e;
	color: #ffcce3;
	-webkit-transition: background 0.2s linear;
	-moz-transition:    background 0.2s linear;
	-o-transition:      background 0.2s linear;
}
#access ul ul {
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow:    0 3px 3px rgba(0,0,0,0.2);
	box-shadow:         0 3px 3px rgba(0,0,0,0.2);
	display: none;
	float: left;
	position: absolute;
	top: 2.5em;
	left: 0;
	z-index: 99999;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	background: #90364e;
	color: #fff4f9;
	line-height: 1.5em;
	padding: .5em .5em .5em 1em;
	width: 11em;
	height: auto;
}
#Twitter a{
	background: blue;
	color: blue;	
}
#access li:hover > a,
#access ul ul :hover > a {
	background: #90364e;
	color: #ffcce3;
}
#access ul ul a:hover {
	background: #90364e;
	color: #ffcce3;
}
#access ul li:hover > ul,
#access ul li.focus > ul {
	display: block;
}
#search-area {
	background: #cf8c9e;
	margin: 0 auto;
	padding: 0.2em 1em;
	text-align: center;
}
#access,
#search-area {
	border-radius: 4px 4px 0 0;
}

/* Small menu */
.menu-toggle {
	display: none;
	color: #fff;
	cursor: pointer;
	font: 20px/2 'Sorts Mill Goudy',serif;
	padding: 1em 1em 0.8em;
	text-align: center;
}

.main-small-navigation ul {
	display: none;
}

@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-small-navigation .nav-menu.toggled-on {
		display: block;
		overflow: hidden;
	}

	.navigation-main ul {
		display: none;
	}

	#access .toggled-on li {
		float: none;
	}

	#access ul.toggled-on ul,
	#access ul.toggled-on ul ul {
		box-shadow: none;
		display: block;
		float: none;
		position: relative;
		top: auto;
		left: 1em;
	}

	#access ul.toggled-on ul a {
		background: none;
		width: 100%;
	}
}

#primary {
	float: left;
	margin: 0 -29.2434% 0 0;
	width: 100%;
}
#content {
	background: #ffebf2;
	border-top-width: 0;
	max-width: 1100px;/**/
}
#page {
	display: block;
	/*margin: .9em auto;*/
	margin: auto;
	max-width: 1200px;
	padding: 0 20px;
}
#branding {
	background: url("images/pink-header.png") no-repeat #fff !important;
	border-radius: 4px;
	box-shadow:
		5px 5px 5px -5px rgba(0, 0, 0, 0.5),
		-5px 0 5px -5px rgba(0, 0, 0, 0.5);
	min-height: 180px;
	margin: .9em 0;
}
.t1{
	font-size: 24px;
	text-align:center;
	color:white;
}
.t2{
	font-size: 18px;
	text-align:center;
	color:white;	
}
.lolo{
display:block;
float:left;	
}